body {
    background: #293454;
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
    max-width: 800px;
      margin: auto;
  }

/* navigation menu */

nav {
    background: #d9d0bd;
   margin: 10 fixed;
   margin-bottom: 20px;
    display: center;
    padding: 0px;
    border-radius: 57px;
    width: 100%;
    box-shadow: 15 px 15px 31px #2d2b27;
    box-shadow: -15px -15px 31px #b1a6a6;
}
header {
    display: flex;
    align-items: center;
    color: #662507;
    font-family: "Times New Roman";
    margin: 25px 50px;
    display: flex;
    padding: 10px;
    font-size: 25px;
    font-style: 15px bold;
}
.nav {
    text-align: center;
    color: #b97453;
    padding: 0px;
    font-family: 'time new roman';
    margin: auto;
    justify-content: space-between;
    display: flex;
    font-size: 12px;
}



/* main container area beneath menu */
main {
    margin: center;
    background: #d9d0bd;
    display: flex;
    margin: auto;
    width: 50%;
    border-radius: 57px;
    box-shadow: 15 px 15px 31px #2d2b27;
    box-shadow: -15px -15px 31px #2d2b27;
    
}
.sidebar{
    margin-right: 25px;
    display: flex;
}
.sidebar-img1{
    border-radius: 57px;
    width: 200px; 
}


.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    padding: 0px;
    
}
h1{
    margin-bottom: 1px;
    text-align: center; 
    color:#4f1d05;
    font-family: 'time new roman';
}
h3,h4 {
    margin-bottom: 10px;
    text-align: center; 
    color:#99582c;
    font-family: 'time new roman';

    
}
.p {
    font-family: 'times new roman';
    
    color: #5474a1;
    margin: 5px;
    text-align: center;
}
ul {
    font-family: 'times new roman';
    color: #b8653e;
    list-style-type: none;
    text-align: auto;
}
#Portfolio {
    text-decoration: underline;
    color:beige;
}
#name {
    color:#662507;
    padding: 0px;
}
#list {
    color:#48304D;
    font-style: italic;
    text-align: center;
    text-indent: 50px;
}

.center1 {
    margin: auto;
  width: 50%;
}
 
footer{
    
    background: #d9d0bd;
    display: flex;
    margin: auto;
    width: 50%;
    border-radius: 57px;
    box-shadow: 15 px 15px 31px #2d2b27;
    box-shadow: -15px -15px 31px #2d2b27;
    margin-top: 10px;
   
}
.space{
  border-radius: 42px;  
  width:265px; 
  height: 365px;
}
h2{
    margin-bottom: 1px;
    text-align: center; 
    color:#4f1d05;
    font-family: 'time new roman';
    
}

.sun {
    border-radius: 42px;  
    width:290px; 
    height: 365px;
    border-right-width: 100px;
    
    
}
.dotted {
    border-style: dotted;
    column-rule-style: dotted;
  }
