body {
    background: #293454;
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */

nav {
    background: #d9d0bd;
   margin: 10 fixed;
   margin-bottom: 20px;
    display: center;
    padding: 0px;
    border-radius: 57px;
    width: 100%;
    box-shadow: 15 px 15px 31px #2d2b27;
    box-shadow: -15px -15px 31px #b1a6a6;
}
header {
    display: flex;
    align-items: center;
    color: #662507;
    font-family: "Times New Roman";
    margin: 25px 50px;
    display: flex;
    padding: 10px;
    font-size: 25px;
    font-style: 15px bold;
}
.nav {
    text-align: center;
    color: #b97453;
    padding: 0px;
    font-family: 'time new roman';
    margin: auto;
    justify-content: space-between;
    display: flex;
}


/* main container area beneath menu */
main {
    margin: center;
    background: #d9d0bd;
    display: flex;
    width: 50 px;
}
.sidebar {
    margin-right: 10px;
    padding: 0px;
}
.sidebar-img {
    width: 200px; 
   
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    padding: 0px;
    
}
h2, h3 {
    margin-bottom: 10px;
    text-align: center; 
    color:#662507;
    font-family: 'time new roman';
}

p {
    font-family: 'times new roman';
    font-style: italic;
    color: #b97453;
    margin: 5px;
    text-align: center;
}
ul {
    font-family: 'times new roman';
    color: #A44A3F;
    list-style-type: upper-roman;
    text-align: center;
}
#Portfolio {
    text-decoration: underline;
    color:beige;
}
#name {
    color:#E2EB98;
    padding: 0px;
}
#list {
    color:#48304D;
    font-style: italic;
}

.center1 {
    margin: auto;
  width: 50%;
}
 #abt {
    text-decoration: underline;
    font-style: italic;
    font-family: 'Times New Roman';
    text-align: center;
    color: #b97453;
 }